
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="shop-wrapper hm-3-padding pt-120 pb-100 mt-100">
    <h2>Admin Home Index</h2>
</div>


